:root {
    --primary-color: #262d2d;
    --primary: #403e3f;
    --secondary-color:#EAEAE6;
    --third-color: #7F7C79;
    --fth-color: #dfac95;
    --fif-color: #d8b29d;
}

#about {
   
    color: var(--secondary-color);
    transform: translateY(10vh);
    background-color: var(--primary-color);
 
    position: relative;
}

#about > .container{
    overflow: hidden;
    height: 60vh;
    
    
    
}

#about .parallax{
    border-top: 2vh solid var(--fth-color)!important;
    border: 3px solid var(--fth-color);
    outline: 2px solid var(--primary-color);
}

