@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --primary-color: #262d2d;
    --primary: #403e3f;
    --secondary-color:#EAEAE6;
    --third-color: #7F7C79;
    --fth-color: #dfac95;
    --fif-color: #bc9d51;
}


body {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

h1{
    color: var(--fth-color);
    font-size: 13vw;
    font-family: 'Playfair Display', serif;
}

h2{
    position: relative;
    z-index: 10;
    font-size: 10vw;
    font-family: 'Playfair Display', serif;
}

h5{
    
    
    position: absolute;
    z-index: 2;
    margin: 3vh 10vw;
    text-align: justify;
    font-size: 3vh;
    background-color: var(--primary-color);
    padding: 1vh;
}

p{
    color: var(--fth-color);
    text-align: justify;
    padding: 3vh;
}
section {
    min-height: 100vh;
}

.parallax-container{
    box-shadow: inset 100vh 100vw  rgba(0, 0, 0, 0.5);
    color:var(--secondary-color);
    height: 100vh;
    
   
}


.parallax {
    margin-top: -40vh;
    
}

.container_border{
    box-shadow: inset 100vh 100vw rgba(158, 108, 84, 0.7);
    border: 2vh solid var(--fth-color);
    outline: 1vh solid var(--secondary-color);
    overflow: hidden;
}
.btn-large{
    background-color: transparent;
    border: 1px solid var(--secondary-color);

}

.btn-large:hover{
    background-color: var(--fth-color);
}

.change{
    transform: translateY(0);
    opacity: 1;
}

