

#services > .container {
    height: 100vh;
    
}

#services > .container >.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services_img {
justify-content: center;
align-items: center;
display: flex;
width: 40vw;
overflow: hidden;
height: 60vh;
-webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-ms-transition: all 2s ease;
-o-transition: all 2s ease;
transition: all 2s ease;


}
.services_img:hover{
    height: 90vh;
    width: 50vw;
    filter: sepia(0);
  
}

.services_img:hover ~ div > h2{
    margin-left: 0!important;
    -webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-ms-transition: all 2s ease;
-o-transition: all 2s ease;
transition: all 2s ease;

}

.services_img:hover ~ div > p{
    color: white;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.services_img > img {
    width: 40vw;
    filter: sepia(100%);
    height: max-content;
    
}
#services > .container:nth-child(odd) > div> div >h2 {
   
    margin-left: -10vw;
   
}